name: Check For Latest Versions

# on:
#   schedule:
#     - cron:  '*/5 * * * *'

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Packer Project
        uses: actions/checkout@v3
      - name: Compare versions
        id: compare-versions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_COMMIT_MESSAGE: Continuous Integration Commit Artifacts
          CI_COMMIT_AUTHOR: Continuous Integration
        run: |
          current_version=$(cat versions.json | jq -r '.runner')
          latest_version=$(gh api /repos/actions/runner/releases/latest | jq -r .tag_name)
          if [ "$current_version" = "$latest_version" ]; then
              matching=true;
          else
              git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
              git config --global user.email "username@users.noreply.github.com"
              git checkout -b bump-versions-${{ github.run_id }}
              cat versions.json | jq --arg v "$latest_version" '.runner = ($v)' > tmp.json
              cat tmp.json > versions.json
              rm tmp.json
              git commit -a -m "${{ env.CI_COMMIT_MESSAGE }}"
              git push origin bump-versions-${{ github.run_id }}
              matching=false
          fi
          echo "::set-output name=matching::$matching"
      - name: Create PR
        if: ${{ steps.compare-versions.outputs.matching == 'false'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr create --title "[bot] Bump versions" --body "Versions bumped" -B main -H bump-versions-${{ github.run_id }}

